Assignment-2

1. What are data structures, and why are they important?

Data structures are ways of organizing and storing data in a computer so it can be used efficiently.
They are important because they help in faster access, modification, and management of data.
Example:
•	A list can store multiple items in order.
•	A dictionary allows fast lookup using keys.

2. Explain the difference between mutable and immutable data types with examples.

•	Mutable → Can be changed after creation.
Example: list = [1,2,3]; list[0] = 10 → [10,2,3]
•	Immutable → Cannot be changed after creation.
Example: tup = (1,2,3); tup[0] = 10 → Error

3. What are the main differences between lists and tuples in Python?

•	List → Mutable, slower, written as [ ].
•	Tuple → Immutable, faster, written as ( ).
Example:
list1 = [1,2,3]
tuple1 = (1,2,3)

4. Describe how dictionaries store data.


Dictionaries store data in key–value pairs using a hash table internally.
Example:
student = {"name":"Alex", "age":20}
Here "name" is the key, "Alex" is the value.

5. Why might you use a set instead of a list in Python?


•	A set removes duplicates automatically.
•	Checking membership (in) is faster in a set than in a list.
Example:
list1 = [1,2,2,3]
set1 = {1,2,3}

6. What is a string in Python, and how is it different from a list?

•	A string is a sequence of characters (immutable).
•	A list is a collection of items (mutable).
Example:
s = "hello"   # Cannot change s[0]
lst = ['h','e','l','l','o']  # Can change lst[0]

7. How do tuples ensure data integrity in Python?

Since tuples are immutable, the stored data cannot be modified accidentally.
This makes them reliable for fixed data like coordinates (x,y).

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that maps keys to values using a hash function.
In Python, dictionaries use hash tables to allow O(1) average-time lookup.

9. Can lists contain different data types in Python?

Yes
Example:
lst = [1, "hello", 3.5, True]

10. Explain why strings are immutable in Python.

Strings are immutable for memory efficiency and security.
If multiple variables reference "hello", Python doesn’t need to copy it, saving memory.

11. What advantages do dictionaries offer over lists for certain tasks?

•	Faster lookup using keys instead of indexes.
•	More meaningful data storage with key–value pairs.
Example: Searching a student’s marks by roll number is easier with a dictionary.

12. Describe a scenario where using a tuple would be preferable over a list.

When storing fixed data that should not change:
Example: (latitude, longitude) for a location.

13. How do sets handle duplicate values in Python?

Sets remove duplicates automatically.
set1 = {1,2,2,3}   # Output: {1,2,3}

14. How does the “in” keyword work differently for lists and dictionaries?

•	For list → checks if element exists in values.
•	For dictionary → checks if element exists in keys.
3 in [1,2,3]   # True
"name" in {"name":"Sam"}  # True

15. Can you modify the elements of a tuple? Explain why or why not.

No.
Tuples are immutable, meaning once created, their elements cannot be changed.

16. What is a nested dictionary, and give an example of its use case.

A nested dictionary is a dictionary inside another dictionary.
Example:
students = {
  "101": {"name":"Alex", "age":20},
  "102": {"name":"Sam", "age":22}
}

17. Describe the time complexity of accessing elements in a dictionary.

•	Average case: O(1) (constant time).
•	Worst case (rare, hash collisions): O(n).

18. In what situations are lists preferred over dictionaries?

•	When order of elements matters.
•	When you don’t need key–value pairs, only a sequence of items.
Example: Storing marks [85, 90, 95].

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

•	Dictionaries are logically unordered because data is stored based on hash values, not sequence.
•	In Python 3.7+, insertion order is preserved, but you still cannot rely on indexing.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

•	List: Retrieve using index → list[0].
•	Dictionary: Retrieve using key → dict["name"].

In [ ]:
#1.Write a code to create a string with your name and print it?
name = "shivansh Giri"
print(name)

shivansh Giri

In [ ]:
#Write a code to find the length of the string "Hello World"?
length = len("Hello World")
print(length)

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"?
string = "Python Programming"
sliced_string = string[0:3]
print(sliced_string)

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase?
string = "hello"
upper_case = string.upper()
print(upper_case)

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
string = " i Like apple"
new_string = string.replace("apple","Orange")
print(new_string)

 i Like Orange

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it?
lis = [1,2,3,4,5]
print(lis)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
lis = [1, 2, 3, 4]
lis.append(10)
print(lis)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lis =[1, 2, 3, 4, 5]
lis.remove(3)
print(lis)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lis = ['a', 'b', 'c', 'd']
access_list = lis[1]
print(access_list)

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]
lis = [10, 20, 30, 40, 50]
reverse_lis = lis[::-1]
print(reverse_lis)

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup = (100,200,300)
print(tup)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple =('red', 'green', 'blue', 'yellow')
second_last = tuple[-2]
print(second_last)

blue

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
num = (10, 20, 5, 15)
print(min(num))

5

In [ ]:
from ast import Index
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tup = ('dog', 'cat', 'rabbit')
print(tup.index("cat"))

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
elements = {"a", "b", "c"}
print(elements)

{'a', 'b', 'c'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1,2,3,4,5}
s.clear()
print(s)

set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

num = {1,2,3,4}
num.remove(4)
print(num)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
a = {1,2,3}
b = {3,4,5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1,2,3}
b = {2,3,4}
print(a.intersection(b))

{2, 3}

In [ ]:
#21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dic = {"name":"aman","age":24,"city":"Delhi"}
print(dic)

{'name': 'aman', 'age': 24, 'city': 'Delhi'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dic = {'name': 'John', 'age': 25}
dic['Country']="USA"
print(dic)

{'name': 'John', 'age': 25, 'Country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dic = {'name':'Alice','age':30}
print(dic["name"])

Alice

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic = {'name':'Bob','age':22,'city':'New York'}
dic.pop("age")
print(dic)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dic = {'name':'Alice','city':'Paris'}
if "city" in dic:
    print("city exists")

city exists

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all
lis = [1,2,3,4]
tup = (1,2,4,5)
dic = {"name":"Sachin","age":24,"address":"Delhi"}
print(lis, tup, dic)

[1, 2, 3, 4] (1, 2, 4, 5) {'name': 'Sachin', 'age': 24, 'address': 'Delhi'}

In [ ]:
# 27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1,100) for i in range(5)]
random_numbers.sort()
print(random_numbers)

[22, 68, 83, 83, 85]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.
lst = [1,2,"Sachin","alok","vinod"]
third_num = lst[3]
print(third_num)

alok

In [59]:
# 29. Write a code to combine two dictionaries into one and print the result.
a = {"name": "Sachin", "age": 24, "address": "Delhi"}
b = {"city": "Bhopal", "country": "India"}

a.update(b)
print(a)

{'name': 'Sachin', 'age': 24, 'address': 'Delhi', 'city': 'Bhopal', 'country': 'India'}

In [ ]:
# 30.Write a code to convert a list of strings into a set.
lst = ["Sachin","apple","banana"]
converlist = set(lst)
print(converlist)

{'banana', 'Sachin', 'apple'}